/* OFFER */
.offer {
	display: flex;
	margin-top: 40px;
}

.offer-main {
	flex: 1;
	margin-right: 30px;
}

.offer-sidebar {
	display: flex;
	flex-direction: column;
	background: #fff;
	width: 230px;
	height: 150px;
	padding: 30px;
	border-radius: 3px;
	-webkit-box-shadow: 2px 4px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 2px 4px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.offer-sidebar img {
	width: 65px;
	height: 65px;
}

.offer-sidebar .avatar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	font-weight: 600;
}

.offer-sidebar .avatar span {
	margin-left: 10px;
}

.offer-img img {
	background: #fff;
	width: 100%;
	height: auto;
}

.offer-img-info {
	background: #fff;
	padding: 15px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	text-align: center;
}

.offer-img-info h2 {
	margin: 0;
	padding-bottom: 10px;
}

.offer-img-info .price {
	color: #f25c20;
	font-weight: 600;
	font-size: 18px;
}

.offer-sidebar .avatar .i-avatar {
	color: #fff;
	background: #f25c20;
	padding: 10px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.offer-sidebar .avatar .i-avatar i {
	padding-left: 2px;
	margin-top: -2px;
}

.crown i {
	color: #4c6ef5;
	position: absolute;
	margin-left: -7px;
	margin-top: -9px;
	transform: rotate(20deg);
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #fff;
	padding-top: 1px;
}

.gallery img {
	margin: 1px;
	width: 98px;
	height: 98px;
}

.gallery img:hover {
	cursor: pointer;
	opacity: 0.7;
}

.big-img {
	overflow: hidden;
	height: 400px;
}
