/* HEADER */
header {
	background: #f56b2a;
	color: #fff;
	height: 60px;
}

header div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header a {
	color: #fff;
	text-decoration: none;
}

header .logo {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

header .container {
	padding-left: 0px;
	padding-right: 0px;
}

ul {
	margin: 0;
	padding: 0;
}

.menu li {
	display: inline-block;
	padding: 0 20px;
	margin: 0;
	line-height: 60px;
	text-transform: uppercase;
	font-weight: 500;
	border-left: 1px solid #fff;
	transition: 0.3s;
}

.menu li:hover {
	background: #fff;
	color: #f56b2a;
	transition: 0.5s;
}

.menu ul:last-child {
	border-right: 1px solid #fff;
}

.menu ul a li::after {
	width: 0;
	height: 0;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 30px solid #fff;
}
