/* PUBLISH */
.publish {
	background: #fff;
	-webkit-box-shadow: 2px 4px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 2px 4px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	padding-top: 30px;
	padding-bottom: 50px;
	margin-top: 30px;
}

.publish .title {
	background: #333;
	color: #fff;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}

.publish button {
	margin-top: 30px;
}

.image-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.add-picture {
	width: 100px;
	height: 100px;
	background: #f2f2f2;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px dashed #ccc;
	border-radius: 3px;
	margin: 2px;
}

.image-container .image {
	width: 100px;
	height: 100px;
	border: 2px dashed #ccc;
	border-radius: 3px;
	margin: 2px;
	display: flex;
	background-position: center;
	background-size: cover;
}

.image-container .image .delete {
	display: none;
	color: #fff;
}

.image-container .image:hover .delete {
	display: flex;
}

.image-container .delete {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.add-picture:hover,
.image:hover {
	cursor: pointer;
	opacity: 0.6;
}

.react-file-reader,
.react-file-reader-button {
	display: inline;
}
