/* OFFERS */
.offers-list {
	margin: 20px 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.offer-element {
	display: flex;
	background: #fff;
	border-bottom: 1px solid #ccc;
	border-left: 3px solid #fff;
	padding: 30px;
	cursor: pointer;
}

.offer-element .title {
	color: #2f6292;
	font-weight: 600;
	font-size: 15px;
}

.offer-element .price {
	color: #f25c20;
	font-weight: 600;
	font-size: 15px;
}

.offer-element img {
	background: #f2f2f2;
	width: 200px;
	height: 150px;
	margin-right: 30px;
}

.offer-element:hover {
	border-left: 3px solid #fb6c38;
}
