/* LOGIN */
.login {
	background: #fff;
	-webkit-box-shadow: 2px 4px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 2px 4px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	padding-top: 30px;
	padding-bottom: 50px;
	margin-top: 30px;
}

.login-form {
	max-width: 500px;
	margin: 0 auto;
}

.login-form h2 {
	text-align: center;
	border-bottom: 2px solid #f56b2a;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.create-account {
	border-top: 1px solid #ccc;
	margin-top: 40px;
	text-align: center;
	padding-top: 10px;
}
