/* GLOBAL */
body {
	font-size: 14px;
	background-color: #fafafa;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1,
h2,
h3,
h4 {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-size: 22px;
}

a {
	text-decoration: none;
	color: #000;
}

.ahref {
	cursor: pointer;
}

.container {
	max-width: 1024px;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: auto;
	margin-left: auto;
}

/* FORM */
input,
textarea,
select {
	outline: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 15px;
	width: calc(100% - 30px);
	margin: 10px 0 25px 0;
	resize: none;
}

button {
	outline: none;
}

select {
	height: 45px;
	background: #fff;
	color: #868686;
	width: 100%;
}

input:focus,
textarea:focus,
select:focus {
	border: 1px solid #333;
}

form input,
form textarea,
form select {
	margin: 10px 0 0 0;
}

form .small {
	display: block;
	color: red;
	font-size: 12px;
	margin-top: 5px;
}

form label {
	margin-top: 20px;
	display: block;
}

form button {
	margin-top: 20px;
}

.error {
	border: 1px solid red;
}

button,
.btn {
	background: #4183d7;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	border: 0;
	border-radius: 3px;
	padding: 15px;
	width: 100%;
}

button:hover,
.tel:hover {
	opacity: 0.8;
	cursor: pointer;
}

.btn-outline {
	border: 1px solid #4183d7;
	color: #4183d7;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 3px;
	padding: 14px;
	width: calc(100% - 20px);
	text-decoration: none;
	font-size: 11px;
	margin-top: 20px;
	display: block;
}

.btn-outline:hover {
	border: 1px solid #4183d7;
	background: #4183d7;
	color: #fff;
}

.tel {
	background: #f56b2a;
	width: auto;
	text-align: center;
}

/* MEDIAS QUERIES */
@media (max-width: 400px) {
	.offer-element img {
		width: 100%;
		height: auto;
	}
}
@media (max-width: 670px) {
	/* FILTERS HOME */
	.filters-row {
		display: block;
	}

	.filters-row input {
		width: 100%;
	}

	.filters-price {
		display: block;
	}

	.filters-price span {
		display: none;
	}

	.filters-second-column {
		width: 100%;
		display: block;
	}

	/* OFFERS LIST */
	.offer-element {
		flex-direction: column;
		text-align: center;
	}

	.offer-content p {
		text-align: center;
	}

	.offer-element img {
		margin-right: 0;
		align-self: center;
	}
}

@media (max-width: 900px) {
	/* HEADER */
	.menu {
		display: none;
	}

	/* CREATE AN ACCOUNT */
	.signup {
		flex-direction: column-reverse;
	}

	.signup-content {
		margin-top: 30px;
		text-align: center;
	}

	.signup-block {
		text-align: center;
		flex-direction: column;
	}

	.signup-block i {
		padding: 0;
		margin-top: 15px;
	}

	/* OFFER PAGE */
	.offer {
		flex-direction: column;
	}

	.offer-sidebar {
		width: 100%;
		height: auto;
		padding: 0;
	}

	.offer-content h4 {
		text-align: center;
	}

	.offer-sidebar .avatar {
		margin-top: 30px;
	}

	.tel {
		margin: 0 30px 30px 30px;
	}

	.offer-main {
		margin: 0;
		padding-bottom: 30px;
	}
}

@media (max-width: 1060px) {
	/* HEADER */
	header .container {
		padding-left: 30px;
		padding-right: 30px;
	}
}
